label {
    margin-left: 10px;
    margin-top: 8px;
    position: absolute;
    font-size: 16px;
  
}

input[type=radio] {
    margin-top: 4px;
    border-color: #3959F8;
    padding: 14px 14px;
    height: 28px;
    width: 28px;
}


textarea {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.submit-button {
    color: white;
    font-size: 20px;
    border: none;
    background-color: #3959F8;
    width: 80%;
    height: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 28px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.question {
    font-size: 18px;
}

.container {
    font-size: 10px;
    text-align: left;
    margin: 24px;

}

.question-container {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    width: 98%
}