.App {
  background-color: #EDEDED;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin: 0px;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

@font-face {
  font-family: 'replica';
  src: url("../src/resources/ReplicaLL-Heavy.otf") format("opentype");
}

@font-face {
  font-family: 'minionPro';
  src: url("../src/resources/MinionPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'adobe';
  src: url("../src/resources/AdobeFnt22.lst") format("opentype");
}